<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <main>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="6">Purchase Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col" colspan="6">
              <div>
                <h4>LOFTY OPTICAL INDUSTRIES</h4>
                <small>
                  Seelards Building, Puthukkadai-629117, Kaniyakumari
                  District.</small
                >
                <br />
                <small>Tamil Nadu,India. 04651-234944, 235055.</small><br />
                <span style="font-weight: 500">EMAIL:</span>
                <a
                  href="mailto:loftyindia@gmail.com"
                  style="text-decoration: none; color: black; font-weight: 500"
                  >loftyindia@gmail.com</a
                >
              </div>
            </th>
          </tr>
          <tr>
            <th colspan="2">To</th>
            <th colspan="2">Ship To</th>
            <th colspan="2">To</th>
          </tr>
          <tr>
            <td colspan="2">GKB HI TECH</td>
            <td colspan="2">
              Seelards Building, Puthukkadai, Kaniyakumari District-629117
            </td>
            <td colspan="2">
              <span> PO NO: TN-024</span><br />
              <span>PO DATE: 02/02/2022</span><br />
              <span>GSTIN NO: 33AGND78930</span><br />
            </td>
          </tr>
          <tr>
            <th scope="col" colspan="6">Product Summary</th>
          </tr>
          <tr>
            <th colspan="2">S.No</th>
            <th colspan="1">Lens Type</th>
            <th colspan="1">Total Quantity</th>
            <th colspan="1">Unit Cost</th>
            <th colspan="1">Total Cost</th>
          </tr>
          <tr>
            <td colspan="2">1</td>
            <td colspan="1">Single Vision</td>
            <td colspan="1">3500</td>
            <td colspan="1">100.00</td>
            <td colspan="1">35000.00</td>
          </tr>
          <tr>
            <th colspan="6">
              <span>Total Cost:<span>35000</span></span
              ><br />
              <span>GST:<span>1000</span></span
              ><br />
              <span>Total:<span>36000</span></span>
            </th>
          </tr>
        </tbody>
      </table><br/>
      <h4>Products</h4>
      <table class="table table-bordered">
          <tbody>
              <tr>
                  <th>Spherical</th>
                  <th>Cyclindrical</th>
                  <th>Add</th>
                  <th>Axis</th>
                  <th>Qty</th>
              </tr>
              <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>4</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>5</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>2</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>8</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>5</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
            </tr>
            <tr>
                <td>0.25</td>
                <td>-0.25</td>
                <td>1</td>
                <td>0</td>
                <td>3</td>
            </tr>
          </tbody>
      </table>
    </main>

    <!-- <footer><%- include('../partials/footer'); %></footer> -->
  </body>
</html>
